.form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  padding: 20px;
  background: #2a2a2a; 
  border-radius: 10px; 
  color: #dee0cc; 
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-label {
  font-size: 1.1rem;
  color: #dee0cc; 
}

.form-input {
  font-size: 1rem;
  padding: 8px; 
  border: 1px solid #605f5f; 
  border-radius: 8px;
  background: #3c3c3c; 
  color: #dee0cc; 
  transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
    border-color: #fff; 
    background: #454545; 
  }
}

.password-container {
  position: relative;
  
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
 
}
.mat-icon {
  height: 21px;
    width: 15px;
}


.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  padding: 5px;
  transform: translateY(-50%);
  font-size: 1.2rem; 
  color: #dee0cc; 
  cursor: pointer;
  transition: color 0.3s ease-in-out;
 
}

.toggle-password:hover {
  color: #fff; 
}


.button {
  font-size: 1.2rem;
  padding: 8px;
  text-decoration: none;
  color: #dee0cc;
  background: #3c3c3c;
  border-radius: 10px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #605f5f;
    color: #fff;
  }

  &:disabled {
    background: #2a2a2a; 
    color: #888; 
    cursor: not-allowed;
  }
}