<div class="modal-overlay">
    <div class="modal-content">
        <button class="button close-button" (click)="close()" aria-label="Close">
            &#10006;
          </button>
      <h2>{{ title }}</h2>
      

      @if (formType === 'signIn') {
        <app-sign-in-form (authSuccess)="onAuthSuccess()" (closeModal)="close()"></app-sign-in-form>
    } @else if (formType === 'signUp') {
        <app-sign-up-form (authSuccess)="onAuthSuccess()" (closeModal)="close()"></app-sign-up-form>
    }
    </div>
</div>