<div class="container">
    <!-- Бічна панель -->
    <aside class="sidebar">
      <div class="sidebar-title">
        <h2>Categories</h2>
      </div>
      <nav class="nav-list">
        <a class="nav-item" routerLink="/angular">Angular</a>
        <a class="nav-item" routerLink="/typescript">Typescript</a>
        <a class="nav-item" routerLink="/javascript">Javascript</a>
        <a class="nav-item" routerLink="/rxjs">RxJs</a>
      </nav>
    </aside>
  
    <!-- Основний контент -->
    <div class="main-content">
      <header class="header">
        <a class="header-link" routerLink="/home">Interview Preparation</a>
      </header>
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  

<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #saidenav mode="side" opened="true" class="example-sidenav">
      <div class="side-bar-title">
        <h2>Categories</h2>
      </div>
      <mat-nav-list class="mat-nav">
        <a class="mat-list" mat-list-item routerLink="/angular">Angular</a>
        <a class="mat-list" mat-list-item routerLink="/typescript">Typescript</a>
        <a class="mat-list" mat-list-item routerLink="/javascript">Javascript</a>
        <a class="mat-list" mat-list-item routerLink="/rxjs">RxJs</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <mat-toolbar class="mat-toolbar" color="primary">
        <a mat-list-item routerLink="/home">Interview preparation</a>
      </mat-toolbar>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
   -->