<h2>{{ toUpperCase(category) }}</h2>
<ul class="question-list">
    @for (question of questions; track question; let i = $index) {
        <li class="question" >
            <div class="question-content"  (click)="openModal()">

            <p><strong>{{ i + 1 }}.</strong>{{ question.question}}</p>
            <div class="question-actions">
                <button class="button">Delete question</button>
                <button class="button">Create answer</button>
            </div>
            </div>
        </li>
      }
</ul>

<app-message-modal *ngIf="showModal" (closeModal)="closeModal()"></app-message-modal>