<h2>{{ toUpperCase(category) }}</h2>
<input
  [value]="newQuestionText"
  (input)="newQuestionText = $any($event.target).value"
  placeholder="Introduce new nutrition"
  class="form-input"
/>
@if (!isAuthenticated) {
    <button class="button" (click)="openModal() ">Add question</button>
} @else {
    <button class="button" (click)="addQuestion()">Add question</button>
}
<ul class="question-list">
    @for (question of questions; track question; let i = $index) {
        <li class="question" >
                <div class="question-content" (click)="openModal()">
                <p><strong>{{ i + 1 }}.</strong> {{ question.question }}</p>
            @if (isAuthenticated) {
                <div class="question-actions">
                  <button class="button" (click)="deleteQuestion(question.id)">Delete question</button>
                  <button class="button" >Create answer</button>
                </div>
            }
            </div>
        
        </li>
    }
</ul>

@if (showModal) {
    <app-message-modal (closeModal)="closeModal()"></app-message-modal>
  }