<form class="form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
     
    <div class="form-group">
      <label class="form-label" for="email">Email</label>
      <input class="form-input" type="email" id="email" formControlName="email" />
    </div>
    
    <div class="form-group password-container">
      <label class="form-label" for="password">Password</label>
      <div class="input-wrapper">
        <input 
          class="form-input" 
          [type]="showPassword ? 'text' : 'password'" 
          id="password" 
          formControlName="password" 
        />
        <mat-icon 
          class="toggle-password" 
          (click)="togglePasswordVisibility()"
        >
          {{ showPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </div>
    </div>
  
    <button class="button" type="submit" [disabled]="signInForm.invalid">Submit</button>
  </form>

