
 .sidebar-title {
    padding: 20px;
    text-align: center;
    background: #3c3c3c;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    border-bottom: 2px solid #555;
  }
   
   .sidebar {
    width: 250px;
    height: 100vh;
    background: #2b2b2b;
    color: #dee0cc;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border-right: 3px solid #444;
    display: flex;
    flex-direction: column;
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  
  .nav-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3c3c3c;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 12px;
    transition: background 0.3s ease-in-out;
  }
  
  .nav-item-wrapper:hover {
    background: #605f5f;
  }

  .nav-item-wrapper.active {
    background: #605f5f;
  }
  
  .nav-item {
    flex: 1;
    padding: 15px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #dee0cc;
    font-size: 1.2rem;
  }
  
  
  .delete-icon {
    font-size: 20px;
    color: #dee0cc;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .delete-icon:hover {
    color: #a2a48e;
  }
  

  .nav-item-add {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center 
    
  }
 
 
  .icon-button {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #dee0cc;
    overflow: visible !important;
    cursor: pointer;
    padding: 0; 
    margin: 0; 
    vertical-align: middle;
  }

  .nav-item-add {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
  
    .nav-input {
      flex: 1;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid #666;
      background-color: #2b2b2b;
      color: #dee0cc;
    }
  }
  .icon-button {
    font-size: 24px;
    width: 24px;
    height: 24px;
    overflow: visible !important;
    cursor: pointer;
    padding: 0; 
    margin: 0; 
    vertical-align: middle;
  }

  // .delete-icon {
  //   cursor: pointer;
  //   font-size: 20px;
  //   color: #aaa;

  //   &:hover {
  //     color: #f44336; // червоне підсвічування
  //   }
  // }
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  
  .modal-content {
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    color: #dee0cc;
  }
  
  .modal-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .button {
    font-size: 1.2rem;
    min-width: 150px;
    padding: 8px;    
    text-decoration: none;
    color: #dee0cc;
    background: #3c3c3c;
    border-radius: 10px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
      
    &:hover {
      background: #605f5f;
      color: #fff;
    }
  }

  .container-color {
    background-color: #a3be85;
  }