<aside class="sidebar">
    <div class="sidebar-title">
      <h2>{{ 'CATEGORIES_TITLE' | translate }}</h2>
    </div>
    <nav class="nav-list">
      @for (category of categories; track category; let i = $index) {
        <div class="nav-item-wrapper"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }">
          <a
            [routerLink]="['/category', category.name]"
            class="nav-item"
            
          >
            {{ category.name }}
          </a>
          <mat-icon
            class="icon-button delete-icon"
            (click)="confirmDeleteCategory = category"
          >
            delete
          </mat-icon>
        </div>
      }
  <div
      class="nav-item nav-item-add"
      [matTooltip]="'ADD_CATEGORY' | translate"
      [matTooltipShowDelay]="500"
      matTooltipPosition="below"
      matTooltipShowOn="focus mouseenter"
    >
      <input 
      [(ngModel)]="newCategory"  
      class="nav-input" 
      [placeholder]="'CATEGORIES_PLACEHOLDER' | translate" 
      (keydown.enter)="addCategory()"
      
      />
    </div>
    </nav>
    

</aside>


@if (confirmDeleteCategory) {
  <div class="modal-overlay">
    <div class="modal-content">
      <p>{{'DELETE_CONFIRM' | translate}}</p>
      <div class="modal-actions">
        <button class="button" (click)="deleteCategory(confirmDeleteCategory)">{{'YES' | translate}}</button>
        <button class="button" (click)="confirmDeleteCategory = null">{{'NO' | translate}}</button>
      </div>
    </div>
  </div>
}



