<div class="user-panel">

 
  
  @if (authService.isAuthenticated()) {
    <button class="button">
      {{ authService.getUserName() }}
    </button>
    <button class="button" (click)="authService.logout()">{{'LOGOUT' | translate}}</button>
  } @else {
    <button class="button" (click)="openModal('signIn')">{{'SIGNIN' | translate}}</button>
    <button class="button" (click)="openModal('signUp')">{{'SIGNUP' | translate}}</button>
  }

  
</div>

@if (showModal) {
  <app-sign-modal 
    [title]="modalTitle"    
    [formType]="formType"  
    (closeModal)="closeModal()">
  </app-sign-modal>
}