<div class="user-panel">
  @if (authService.isAuthenticated()) {
    <button class="button">
      Welcome,{{ authService.getUserName() }}
    </button>
    <button class="button" (click)="authService.logout()">Log out</button>
  } @else {
    <button class="button" (click)="openModal('signIn')">Sign In</button>
    <button class="button" (click)="openModal('signUp')">Sign Up</button>
  }
</div>

@if (showModal) {
  <app-sign-modal 
    [title]="modalTitle"    
    [formType]="formType"  
    (closeModal)="closeModal()">
  </app-sign-modal>
}