// 🔼 Спочатку ВСІ @use
@use '@angular/material' as mat;
@use 'fonts';

:root {
    --background-color: #dee0cc;
    --font-color: #3c3c3c;
  
    @include mat.tooltip-overrides((
      container-color: #dee0cc,
      supporting-text-color: #3c3c3c,
      supporting-text-size: 14px,
      container-shape: 8px
    ));
  }

   

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', 'Roboto', "Helvetica Neue", sans-serif;
  background-color: var(--background-color); 
  color: var(--font-color);
}

ul {
  list-style-type: none;
  padding-left: 0;
}
