/* You can add global styles to this file, and also import other style files */
@import 'fonts';
:root {
    // --primary-color: #3c3c3c;
    // --secondary-color: #555;
    --background-color: #dee0cc;
    --font-color: #3c3c3c;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'JetBrains Mono', 'Roboto', "Helvetica Neue", sans-serif;
    background-color: var(--background-color); 
    color: var(--font-color);}

ul {
    list-style-type: none;
    padding-left: 0;
}  

